In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
y = dataset['Exited']

In [5]:
x = dataset[['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary']]

In [6]:
geo = x["Geography"]

In [7]:
geo = pd.get_dummies(geo,drop_first=True)

In [8]:
gender = x["Gender"]

In [9]:
gender = pd.get_dummies(gender,drop_first=True)

In [10]:
NumOfProducts = x["NumOfProducts"]

In [11]:
NumOfProducts = pd.get_dummies(NumOfProducts,drop_first=True)

In [12]:
HasCrCard = x["HasCrCard"]

In [13]:
HasCrCard = pd.get_dummies(HasCrCard,drop_first=True)

In [14]:
IsActiveMember = x["IsActiveMember"]

In [15]:
IsActiveMember = pd.get_dummies(IsActiveMember,drop_first=True)

In [16]:
x.drop(["RowNumber","CustomerId","Surname","Geography","Gender","NumOfProducts","HasCrCard","IsActiveMember"] , axis=1, inplace=True)

C:\Users\sumit\AppData\Local\Temp\ipykernel_16060\1451225537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(["RowNumber","CustomerId","Surname","Geography","Gender","NumOfProducts","HasCrCard","IsActiveMember"] , axis=1, inplace=True)

In [18]:
x = pd.concat([x,geo,gender,NumOfProducts,HasCrCard,IsActiveMember],axis=1)

In [21]:
from keras.models import Sequential

In [22]:
model = Sequential()

In [23]:
model.get_config()

{'name': 'sequential_1', 'layers': []}

In [24]:
from keras.layers import Dense

In [25]:
#layer 1
model.add( 
        Dense(
                units=6 , 
                input_dim=13 ,
                bias_initializer="Zeros",
                kernel_initializer="Zeros",
                activation="relu"
        )
)

In [26]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 13),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'dtype': 'float32',
    'batch_input_shape': (None, 13),
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [27]:
#layer 2
model.add( 
        Dense(
                units=7 , 
                # input_dim=13 ,
                bias_initializer="Zeros",
                kernel_initializer="Zeros",
                activation="relu"
        )
)

In [28]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 84

 dense_1 (Dense)             (None, 7)                 49

=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [29]:
#layer 3
model.add( 
        Dense(
                units=5 , 
                # input_dim=13 ,
                bias_initializer="Zeros",
                kernel_initializer="Zeros",
                activation="relu"
        )
)

In [30]:
#layer 4
model.add( 
        Dense(
                units=1 , 
                #input_dim=13 ,
                bias_initializer="Zeros",
                kernel_initializer="Zeros",
                activation="sigmoid"
        )
)

In [31]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 6)                 84

 dense_1 (Dense)             (None, 7)                 49

 dense_2 (Dense)             (None, 5)                 40

 dense_3 (Dense)             (None, 1)                 6

=================================================================
Total params: 179
Trainable params: 179
Non-trainable params: 0
_________________________________________________________________

In [32]:
model.get_config()

{'name': 'sequential_1',
 'layers': [{'class_name': 'InputLayer',
   'config': {'batch_input_shape': (None, 13),
    'dtype': 'float32',
    'sparse': False,
    'ragged': False,
    'name': 'dense_input'}},
  {'class_name': 'Dense',
   'config': {'name': 'dense',
    'trainable': True,
    'dtype': 'float32',
    'batch_input_shape': (None, 13),
    'units': 6,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_1',
    'trainable': True,
    'dtype': 'float32',
    'units': 7,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_2',
    'trainable': True,
    'dtype': 'float32',
    'units': 5,
    'activation': 'relu',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}},
  {'class_name': 'Dense',
   'config': {'name': 'dense_3',
    'trainable': True,
    'dtype': 'float32',
    'units': 1,
    'activation': 'sigmoid',
    'use_bias': True,
    'kernel_initializer': {'class_name': 'Zeros', 'config': {}},
    'bias_initializer': {'class_name': 'Zeros', 'config': {}},
    'kernel_regularizer': None,
    'bias_regularizer': None,
    'activity_regularizer': None,
    'kernel_constraint': None,
    'bias_constraint': None}}]}

In [33]:
model.compile(loss="binary_crossentropy")

In [34]:
y = dataset['Exited']

In [36]:
model.fit(x,y,epochs=8)

Epoch 1/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5849
Epoch 2/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5427
Epoch 3/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5191
Epoch 4/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5095
Epoch 5/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5064
Epoch 6/8
313/313 [==============================] - 1s 3ms/step - loss: 0.5057
Epoch 7/8
313/313 [==============================] - 1s 4ms/step - loss: 0.5056
Epoch 8/8
313/313 [==============================] - 1s 4ms/step - loss: 0.5055