In [1]:
import pandas as pd
#sequential model

In [4]:
dataset = pd.read_csv("weight-height.csv")

In [5]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]

In [7]:
x = dataset["Height"]

In [8]:
y= dataset["Weight"]

In [13]:
from keras.layers import Dense

In [15]:
from keras.models import Sequential

In [16]:
brain = Sequential()

In [17]:
#brain.summary()

In [18]:
brain.get_config()

{'name': 'sequential', 'layers': []}

In [29]:
brain.add( 
           Dense(
                  units=1,
                  input_shape=(1,),
                  activation = 'linear',
                  bias_initializer= 'zeros',
                  kernel_initializer = 'zeros')
               )
              
             #thru dense func we add layer in this layer adding 1 unit of neuron 1 dense func means 1 layer

In [30]:
brain.compile(loss="mean_absolute_error")   #loss fun supported by keras

In [31]:
brain.fit(x,y,epochs=10)  #used to feed the data repeatedly many times

Epoch 1/10
313/313 [==============================] - 1s 1ms/step - loss: 150.3390
Epoch 2/10
313/313 [==============================] - 0s 1ms/step - loss: 129.2525
Epoch 3/10
313/313 [==============================] - 1s 2ms/step - loss: 108.1631
Epoch 4/10
313/313 [==============================] - 0s 1ms/step - loss: 87.0814
Epoch 5/10
313/313 [==============================] - 0s 2ms/step - loss: 66.0197
Epoch 6/10
313/313 [==============================] - 0s 1ms/step - loss: 45.4612
Epoch 7/10
313/313 [==============================] - 0s 1ms/step - loss: 28.7984
Epoch 8/10
313/313 [==============================] - 0s 1ms/step - loss: 21.2345
Epoch 9/10
313/313 [==============================] - 0s 1ms/step - loss: 20.2816
Epoch 10/10
313/313 [==============================] - 0s 1ms/step - loss: 20.2661

In [32]:
brain.get_weights()

[array([[2.4275353]], dtype=float32), array([2.252791], dtype=float32)]

In [33]:
2.5+2*63

128.5

In [34]:
dataset

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
9995  Female  66.172652  136.777454
9996  Female  67.067155  170.867906
9997  Female  63.867992  128.475319
9998  Female  69.034243  163.852461
9999  Female  61.944246  113.649103

[10000 rows x 3 columns]