In [5]:
import pandas #module can be used as pd (as u wish)

In [6]:
dataset = pandas.read_csv("ML2DAY.csv")

In [7]:
dataset

   name  hrs  marks
0  eric    2     20
1   tom    3     30
2  suzi    8     80
3  liza    4     40

In [ ]:
from sklearn.linear_model import LinearRegression