In [1]:
import pandas as pd
#binary classification prblm

In [2]:
dataset = pd.read_csv("Churn_Modelling.csv")

In [3]:
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [4]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [5]:
x = dataset[ ['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'
            ] ]

In [6]:
y = dataset["Exited"]

In [7]:
x  #geo is categorical gender also

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [8]:
geo =x["Geography"]

In [9]:
geo =pd.get_dummies(geo, drop_first=True)

In [10]:
gender = x["Gender"]

In [11]:
gender =pd.get_dummies(gender, drop_first=True)

In [12]:
NumOfProducts=x["NumOfProducts"]

In [13]:
NumOfProducts =pd.get_dummies(NumOfProducts, drop_first=True)

In [14]:
HasCrCard = x["HasCrCard"]

In [15]:
HasCrCard = pd.get_dummies(HasCrCard, drop_first=True)

In [16]:
IsActiveMember = x["IsActiveMember"]

In [17]:
IsActiveMember = pd.get_dummies(IsActiveMember, drop_first=True)

In [18]:
x.drop(['RowNumber','Surname','Geography','Gender','HasCrCard','IsActiveMember','CustomerId'],axis=1,inplace=True)

C:\Users\sharm\AppData\Local\Temp\ipykernel_17348\4209351084.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.drop(['RowNumber','Surname','Geography','Gender','HasCrCard','IsActiveMember','CustomerId'],axis=1,inplace=True)

In [25]:
x= pd.concat([x,geo,gender,NumOfProducts,HasCrCard,IsActiveMember],axis=1)

In [20]:
from keras.models import Sequential

In [26]:
model = Sequential()

In [27]:
model.get_config()

{'name': 'sequential_1', 'layers': []}

In [28]:
from keras .layers import Dense

In [29]:
# layer 1(takes input) one time can give only one record  devops will help in this
model.add(Dense(units=6
                , input_dim=13,
               bias_initializer="zeros",
               kernel_initializer="zeros",
                activation='relu'
               ))

In [30]:
13*6+6

84

In [31]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 6)                 84

=================================================================
Total params: 84
Trainable params: 84
Non-trainable params: 0
_________________________________________________________________

In [32]:
# layer 2 no need to tell input dim they already know
#one dont know as come from outside
model.add(
           Dense(
                   units=7, 
                   bias_initializer="zeros",
                   kernel_initializer="zeros",
                   activation="relu"
               ))

In [33]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 6)                 84

 dense_2 (Dense)             (None, 7)                 49

=================================================================
Total params: 133
Trainable params: 133
Non-trainable params: 0
_________________________________________________________________

In [34]:
# layer 3 no need to tell input dim they already know
#one dont know as come from outside
model.add(Dense(units=5 #(no of neurons)
                , input_dim=13,
               bias_initializer="zeros",
               kernel_initializer="zeros",
                activation='relu'
               ))

In [35]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_1 (Dense)             (None, 6)                 84

 dense_2 (Dense)             (None, 7)                 49

 dense_3 (Dense)             (None, 5)                 40

=================================================================
Total params: 173
Trainable params: 173
Non-trainable params: 0
_________________________________________________________________

In [36]:
#layer4 output layer neuron that will help in learning pass or fail 
model.add(Dense(units=1, 
               bias_initializer="zeros",
               kernel_initializer="zeros",
                activation='sigmoid'
               ))

In [37]:
model.compile(loss="binary_crossentropy")

In [38]:
#model.fit(x,y)

In [39]:
model.get_weights()

[array([[0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0., 0., 0.], dtype=float32),
 array([[0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.],
        [0., 0., 0., 0., 0.]], dtype=float32),
 array([0., 0., 0., 0., 0.], dtype=float32),
 array([[0.],
        [0.],
        [0.],
        [0.],
        [0.]], dtype=float32),
 array([0.], dtype=float32)]

In [40]:
model.fit(x,y,epochs=20) #it reduce loss it runs like loop

Epoch 1/20

ValueError: in user code:

    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\engine\training.py", line 1284, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\engine\training.py", line 1268, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\engine\training.py", line 1249, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\engine\training.py", line 1050, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\utils\traceback_utils.py", line 70, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\sharm\anaconda3\lib\site-packages\keras\engine\input_spec.py", line 298, in assert_input_compatibility
        raise ValueError(

    ValueError: Input 0 of layer "sequential_1" is incompatible with the layer: expected shape=(None, 13), found shape=(None, 22)