In [1]:
def mysum(x,y): #not good practice function name dia bcz aage call kr sake 
    #but func wahi bnao jha req pde 
    z=x+y
    return z

In [2]:
mysum(5,2)

7

In [3]:
#anonymous function (lamda) keyword thru which we create anonmous function

In [7]:
my = lambda x,y:x+y   #(function aise bna skte ho)

In [9]:
my(3,6)

9

In [10]:
my1 = lambda x: print(x)

In [12]:
my1("hi")

hi

In [14]:
print("hi") #many func jo func ko hi input lere h ex filter 
#not take input value known as first order function

hi

In [24]:
list(filter(lambda x : x%2 == 0,[1,2,3,4,5,6]))

[2, 4, 6]

In [33]:
"vimal@gmail.com","jack@lw.com","amit@gmail.com"

('vimal@gmail.com', 'jack@lw.com', 'amit@gmail.com')

In [34]:
"vimal@gmail.com".split("@")[1]

'gmail.com'

In [32]:
"jack@lw.com".split("@")[1] == "gmail.com" #filter func h jo input leta h

False

In [37]:
filter(lambda x: x.split("@")[1]=="gmail.com")
    ["vimal@gmail.com","jack@lw.com","amit@gmail.com"]

IndentationError: unexpected indent (1443172431.py, line 2)

In [9]:
import pandas as pd

In [10]:
dataset = {"name" : ["vimal","jack","pop"],
           "id": [1,2,3]
          }

In [11]:
dataset

{'name': ['vimal', 'jack', 'pop'], 'id': [1, 2, 3]}

In [14]:
db= pd.DataFrame(dataset)

In [25]:
type(db['name'])

pandas.core.series.Series

In [28]:
db['name'].apply(lambda x: x+"@lw.com")

0    vimal@lw.com
1     jack@lw.com
2      pop@lw.com
Name: name, dtype: object

In [ ]:
db[name]